.img-front {
    height: 300px;
}

.img-front img {
    height: 300px;
    aspect-ratio: 16/9;   
}

.img-backed {
    width: 300px;
    aspect-ratio: 16/9;
}

.boton {
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-bottom: 20px;
    width: 250px;
   
}

.btn i {
    display: block;
    color: black;
}

